<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WAQAS RAMZAN - Machine Learning Engineer</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/cv.css">
</head>
<body>
    <div class="resume-container">
        <aside>
            <section class="text-center">
                <img class="profile-pic" src="/images/Assets/1691179973044.jpeg" alt="Profile Picture">
                <section>
                    <h3 class = "line-title center">About Me</h3>
                </section>
                <head>
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
                </head>
                <p class="text-muted">
                    <i class="fas fa-phone-alt phone-icon"></i> <small>+92 3010949820</small>
                </p>
                <p class="text-muted">
                    <i class="fas fa-envelope email-icon"></i> <small>waqasramzan88888@gmail.com</small>
                </p>
                <p class="text-muted">
                    <i class="fas fa-map-marker-alt location-icon"></i> <small>Lahore, Pakistan</small>
                </p>
                <p class="text-muted">
                    <i class="fab fa-linkedin linkedin-icon"></i> 
                    <a href="www.linkedin.com/in/waqas-ramzan-921a56264" target="_blank">WAQAS RAMZAN</a>
                </p>
                <p class="text-muted">
                    <i class="fab fa-github github-icon"></i> 
                    <a href="https://github.com/WAQAS7297" target="_blank">WAQAS RAMZAN</a>
                </p>
            </section>
            <section>
                <h3 class="line-title center">Skills</h3>
                <ul class = "skill-list"> 
                    <li>PYTHON </li>
                    <li>JAVA</li>
                    <li>C++</li>
                    <li>MACHINE LEARNING</li>
                    <li>NLP</li>
                    <li>DEEP LEARNING</li>
                    <li>COMPUTER VISION</li>
                    <li>DIGITAL IMAGE PROCESSING</li>
                </ul>
            </section>
            <section>
                <h3 class="line-title">Languages</h3>
                <p><strong>Urdu</strong><br><small class="text-muted">Native or Bilingual Proficiency</small></p>
                <p><strong>English</strong><br><small class="text-muted">Professional Working Proficiency</small></p>
                <p><strong>Arabic</strong><br><small class="text-muted">Elementary Proficiency</small></p>
            </section>
            
            <section>
                <h3 class = "line-title center">Interests</h3>
                <div class = "interest-container">
                    <span class = "interest">Research</span>
                    <span class = "interest">Automation</span>
                    <span class = "interest">Generative AI</span>
                    <span class = "interest">Cricket</span>
                    <span class = "interest">Reading</span>
                    <span class = "interest">Photography</span>
                </div>
            </section>
        </aside>
        <main>
            <section id="Introduction">
                <h2>Waqas Ramzan</h2>
                <p class = "line-title1"><strong>Machine Learning Engineer</strong></p>
                <p>Pursuing AI graduate with a strong interest in Machine Learning and Computer Vision. Eager to start my career in ML and Al, seeking an opportunity to collaborate with a skilled team, and contribute to innovative projects. Additionally, I was awarded a scholarship from Datacamp in recognition of my commitment to excellence and potential in the Al field.</p>
            </section>
            <section class="education-section">
                <h3 class="line-title">EDUCATION</h3>
                <h4 class="degree">BS Computer Science</h4>
                <p class="university">COMSATS University, Lahore Campus</p>
                <p class="text-muted"><small>02/2023 - 02/2027</small></p>
                <h4 class="courses-title">Courses</h4>
                <div class="courses">
                    <ul>
                        <li>Machine Learning</li>
                        <li>Artificial Intelligence</li>
                        <li>Computational Intelligence</li>
                    </ul>
                    <ul>
                        <li>Operating System</li>
                        <li>Computer Vision</li>
                        <li>Digital Image Processing</li>
                    </ul>
                </div>
            </section>
            <section>
                <h3 class = "line-title">Personal Project</h3>
                <div class="courses">
                    <ul>
                        <li>Smart Home Assistant</li>
                        <li>Castle Game</li>
                        <li>Trading Platform</li>
                        <li>Chat Bot</li>
                    </ul>
                    <ul>
                        <li>Chess Bot</li>
                        <li>Recommendation System</li>
                        <li>MoodLens</li>
                        <li>FraudShield</li>
                    </ul>
                </div>
                <section>
                    <h3 class="line-title">CERTIFICATES</h3>
                    <div class="certificates-container">
                        <div class="certificates">
                            <div class="certificate">
                                <h3>
                                    <a href="https://www.coursera.org/account/accomplishments/specialization/FG50V30DSJK2" target="_blank">
                                        GENERATIVE AI WITH LLM Specialization <i class="fas fa-external-link-alt"></i>
                                    </a>
                                </h3>
                                <p>IBM (Coursera)</p>
                            </div>
                
                            <div class="certificate">
                                <h3>
                                    <a href="https://www.coursera.org/account/accomplishments/specialization/11YTQWQL7D76" target="_blank">
                                        MACHINE LEARNING Specialization <i class="fas fa-external-link-alt"></i>
                                    </a>
                                </h3>
                                <p>DeepLearning.AI, Stanford University (Coursera)</p>
                            </div>
                
                            <div class="certificate">
                                <h3>
                                    <a href="https://www.linkedin.com/feed/update/urn:li:activity:7236730849197490177/" target="_blank">
                                        Machine Learning Scientist in Python <i class="fas fa-external-link-alt"></i>
                                    </a>
                                </h3>
                                <p>Datacamp</p>
                            </div>
                
                            <div class="certificate">
                                <h3>
                                    <a href="https://www.coursera.org/account/accomplishments/specialization/VAN8MT2SMNYM" target="_blank">
                                        OBJECT ORIENTED PROGRAMMING Specialization <i class="fas fa-external-link-alt"></i>
                                    </a>
                                </h3>
                                <p>University of London (Coursera)</p>
                            </div>
                        </div>
                        <div class="ibm-badge">
                            <img src="/images/Assets/Coursera_20Generative_20AI_20Applications_20Specialist.png" alt="IBM Digital Badge">
                        </div>
                    </div>
                </section>
                
                <section>
                    <h3 class="line-title">ACHIEVEMENTS</h3>
                    <div class="text-muted">
                        <h3>Datacamp Scholarship (42000 PKR)</h3>
                    </div>
                </section>                
    </div>
</body>
</html>